:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d1821;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.maindiv {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.players {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  border: #fed766 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.game {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  border: #fed766 1px solid;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

canvas {
  height: 90vh;
  background: #212121 url(../img/map/background-1.png) no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0 10px;
}

canvas:focus {
  outline: none;
  /*box shadow center*/
  box-shadow: 0 0 6px 1px #fed766a6;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: #fed766 1px solid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  width: calc(100% - 3px);
  margin-right: 3px;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 8px; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
  border-radius: 10px;
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: #403f4000; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
  border-radius: 10px;
  margin-right: 8px;
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #403f40;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-end;
}

input {
  background-color: white;
  color: #000;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.say {
  background-color: #009fb7;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}

#choose {
  background-color: #009fb7;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}

#player1:before {
  display: inline-block;
  content: url("/../img/head/1.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player2:before {
  display: inline-block;
  content: url("/../img/head/2.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player3:before {
  display: inline-block;
  content: url("/../img/head/3.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player4:before {
  display: inline-block;
  content: url("/../img/head/4.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player5:before {
  display: inline-block;
  content: url("/../img/head/5.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player6:before {
  display: inline-block;
  content: url("/../img/head/6.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player7:before {
  display: inline-block;
  content: url("/../img/head/7.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#player8:before {
  display: inline-block;
  content: url("/../img/head/8.png");
  image-rendering: pixelated;
  margin-right: 8px;
}

#me {
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  max-width: 80%;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: auto;
}

#other {
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(63, 63, 63);
  max-width: 80%;
}

#name {
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  max-width: 80%;
  color: rgba(175, 175, 175, 0.6);
}

@media screen and (max-width: calc(((90vh * 1024) / 1536) + 320px )) {
  .chat {
    display: none;
  }
}

@media screen and (max-width: calc((90vh * 1024) / 1536 + 320px + 20vw)) {
  .left {
    display: none;
  }
}

#modal {
  /*modal center*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*modal center*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d1821;
  z-index: 999;
  text-align: center;
}

.param {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*tt les btn dans la div .param*/

.btnParam {
  aspect-ratio: 1/1;
  background-color: #00000000;
  border: 0;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  line-height: 10px;
}

.textParam {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.map {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

img {
  image-rendering: pixelated;
}

.team {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(2, 100px); /* 4 colonnes de largeur égale */
  grid-gap: 10px;
}

.team div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;

  align-items: center;
  justify-items: center;
  background-size: cover;
  /*pixelisation*/
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.white {
  background-image: url(../img/backgroundTeam/TeamBack-1.png);
}

.black {
  background-image: url(../img/backgroundTeam/TeamBack-2.png);
}

.red {
  background-image: url(../img/backgroundTeam/TeamBack-3.png);
}

.blue {
  background-image: url(../img/backgroundTeam/TeamBack-4.png);
}

.green {
  background-image: url(../img/backgroundTeam/TeamBack-5.png);
}

.yellow {
  background-image: url(../img/backgroundTeam/TeamBack-6.png);
}

.pink {
  background-image: url(../img/backgroundTeam/TeamBack-7.png);
}

.cyan {
  background-image: url(../img/backgroundTeam/TeamBack-8.png);
}

.titleParam {
  position: relative;
}

.titleParam .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #0d1821;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 9999;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(10px, -50%);
  filter: drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766)
    drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766)
    drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766);
}

.titleParam .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 99%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  transform: translateY(1px);
  border-color: transparent #0d1821 transparent transparent;
  /* clip-path: polygon(0% 100%, 100% 100%, 50% 0%); */
}

.titleParam:hover .tooltiptext {
  visibility: visible;
}

.mapTxt {
  margin-top: 10px;
}

.map .tooltiptext2 {
  opacity: 0;
  width: 200px;
  background-color: #0d1821;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 9999;
  top: 100%;
  right: 0%;
  transform: translateY(8px);
  filter: drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766)
    drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766)
    drop-shadow(0px 0px 0.3px #fed766) drop-shadow(0px 0px 0.3px #fed766);
}

.map .tooltiptext2::after {
  content: "";
  position: absolute;
  bottom: 99%;
  left: 72%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  transform: translateY(1px);
  border-color: transparent transparent #0d1821 transparent;
  /* clip-path: polygon(0% 100%, 100% 100%, 50% 0%); */
}

.map:hover .tooltiptext2 {
  opacity: 1;
}
